<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>EasyStream</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/floating-labels/floating-labels.css" rel="stylesheet">
  </head>

  <body>
    <div align="center">
        <form action="/stream" class="form-signin">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Stream</button>
        </form>
        <form action="/stream/status" class="form-signin">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Stream Status</button>
        </form>
        <form action="/stream/at" class="form-signin">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Schedule Stream</button>
        </form>
        <form action="//upload.easystream.net" class="form-signin">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Upload Videos</button>
        </form>
    </div> 
</body>
</html>
