<!doctype html>
<head>
<title> Stream Response </title>
<style>
.startstreambtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }
    
    .startstreambtn:hover {
        opacity: 1;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
</head>
 
<body>
    <form action = "/stream/status">
        <button type = "submit" class = "startstreambtn">Refresh</button>
    </form>

    <h3> Active Rooms </h3>
    <table style = "width:100%">
            <tr>
              <th>ProcessID</th>
              <th>Playlist</th> 
              <th>StreamKey</th>
              <th>Log</th>
              <th>Action</th>
            </tr>
            {% for item in stream_list %}
            <tr>
                <form action = "/stream/kill" method = "POST" >
                    <th> <input type="hidden" value="{{ item[0] }}" name = "pid" readonly> {{ item[0] }} </th>
                    {% for id in item[1:4] %}
                        <th> {{ id }} </th>
                    {% endfor %}
                <th> <button class = "killbtn"> kill </button> </th>
                </form>
            </tr>
            {% endfor %}
    </table>
    <h3> Active Videos </h3>
    <table style = "width:100%">
            <tr>
              <th>ProcessID</th>
              <th>Playlist/Video</th> 
              <th>RTMP Address</th>
              <th>Action</th>
            </tr>
            {% for item in video_list %}
            <tr>
                <form action = "/stream/kill" method = "POST">
                    <th> <input type="hidden" value="{{ item[0] }}" name = "pid" readonly> {{ item[0] }} </th>
                    {% for id in item[1:3] %}
                        <th> {{ id }} </th>
                    {% endfor %}
                    <th> <button type = "submit"  > kill </button> </th>
                </form>
            </tr>
            {% endfor %}
    </table>
    <h3> </h3>
    <form action = "/">
        <button type = "submit" class = "startstreambtn">Return to Home</button>
    </form>
</body>
</html>